.detail-img-container{
    background-color: white;
    border-radius: 22px;
    padding: 27px;
    display: flex;
    flex-direction: column;
}

.detail-title{
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}

.detail-img-container img{
    width: 440px;
    height: 360px;
    object-fit: cover;
}

.detail{
    margin-top: 111px;
}

.detail-temp{
    display: flex;
}

.detail-info{
    display:flex;
    justify-content: space-around;
}

.detail-container{
    display: flex;
    flex-direction: column;
}

.detail-container >*{
    margin-bottom: 23px;
}

.detail-name{
    font-size: 43px;
    display: flex;
}

.detail-text{
    font-size: 22px;
}