.create-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.create-image {
    width: 50%;
}

.create-image img {
    max-width: 397px;
    min-width: 200px;
    margin-top: 85px;
}

.create-form {
    width: 50%;
    background: #f5ece6;
    padding-top: 92px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.create-inputs {
    margin-top: 7px;
    border: none;
    height: 30px;
    width: 203px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #0000001c;
}


.create-subtmit-button {
    width: 107px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: auto;
    margin-top: 96px;
}

.create-button-text  {
    position: absolute;
}

.create-subtmit-button img {
    width: 80px;
}

.create-subtmit-button:hover{
    transform: scale(1.1);
}

.form-container p{
    width: 148px;
    position: absolute;
    left: 122px;
    background-color: #ffffff;
    padding: 7px;
    font-size: 13px;
    border-radius: 15px;
    box-shadow: 0px 15px 15px #0000001a;
    border: 1px solid #d3c774;
    bottom: 24px;
}
.form-container p::after{
    content: "";
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    bottom: -8px;
    left: 24px;
}
.create-divs{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 32px
}

.create-divs img{
    width: 13px;
    margin-right: 4px;
}

.form-container >div{
    display: flex;
    gap: 100px;
    margin-top: 23px;
    align-items: flex-end;
}

.button-delete-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 8px;
    border: none;
    background-color: #ffb38a;
    padding: 4px;
    margin-bottom: 7px;
    height: 23px;
    cursor: pointer;
}

.button-delete-temp img{
    width: 12px;
}

.create-container-temp{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 213px;
}